.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    min-height: 250px;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.classImage{
    width: 200px;
    height: 200px;
    border-radius: 9px;
    margin-bottom: 9px;
}
.classImage img{
    width: 100%;
}

/* ADD */
.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;
}
.card--star {
    height: 15px;

}
